.note-window {
  position: absolute;
  border: 1px solid white;
  width: 450px;
  left: 25%;
}
.pad-window {
  width: 400px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 2px 5px 2px rgb(0, 0, 0);
}

.pad-header {
  display: flex;
  justify-content: space-between;
  background: rgb(15, 0, 0);
  border-radius: 5px;
}

.addNewNote {
  width: 100%;
  background-color: rgb(13, 177, 13);
  border: none;
  border-radius: 1px;
  font-size: 12pt;
  font-weight: bold;
}

.pad-close {
  background: none;
  border: none;
  color: rgb(201, 7, 7);
  font-size: 15pt;
}

.pad-body {
  background: whitesmoke;
  color: black;
  border-radius: 2px;
}

.form-note {
  display: block;
  width: 100%;
  height: auto;
}

.input-title {
  display: block;
  width: 98%;
}

.input-content {
  display: block;
  width: 98%;
  resize: none;
}

.submit-btn {
  width: 100%;
  background-color: rgb(17, 192, 17);
  border: none;
  border-radius: 1px;
  box-shadow: 1px 0px 5px 2px rgb(21, 75, 24);
  font-size: 12pt;
  font-weight: bold;
}